/* Main Layout */

.sidebars {
    background-color: orange;
}

body {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px 25% 100px;
    border: 1px solid blue;
    width: 100%;
    height: 300vh;
    overflow: hidden;
}

header {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

footer {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid yellow;
}


/* Registration Page */

.register {
    width: 150px;
    height: 100px;
    border: 1px solid yellow;
    position: relative;
    left: 35%;
    top: 200px;
}

/* After Registration / Profile Page */

.logoImg {
    width: 200px;
    height: 200px;
    /*position: relative;*/
    /*right: 470px;*/
    border-radius: 100px;
    /*top: -200px;*/
}



/* After Login / Personal Page */
.profileImg {
    position: relative;
    top: -300px;
    left: 980px;
    width: 60px;
    height: auto;
}

.wrapLogoH1 {
    border: 1px solid pink;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: -100px;
}
