/* Main Layout */



/* Registration Page */
.welcomeBackground {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.clickForRegister {
    position: absolute;
    width: 270px;
    height: 260px;
    border-radius: 150px;
    background-color: transparent;
    z-index: 3;
    left: 580px;
    top: 280px;
}

html {
    height: 100%;
    background-color: red;
}

body {
    border: 1px solid blue;
    height: 100%;
    background-color: blue;
    overflow: hidden;
}

main {
    background-color: yellow;
    display: flex;
    flex-direction:row;
    border-color: blue;
    height: 100%;
}


/* Registration Page */

.register {
    width: 350px;
    text-align: center;
    height: 300px;
    border: 1px dotted #e04903;
    position: absolute;
    top: 170px;
    background-color: white;
    z-index: 3;
    animation: right 3s forwards;
    border-radius: 50px;
}

@keyframes right {
  from {
    right: -400px;
  }
  to {
    right: 100px;
  }
}

.input {
    width: 150px;
    height: 30px;
    top: 20px;
    position: relative;
    border-color: #e04903;
}


.goToLogin {
    position: relative;
    top: 100px;
}

button {
    position: relative;
    top: 30px;
}

button :hover {
    background-color: #e04903;
    /*animation: opacity 2s ease-in;*/
}




/* Profile Page */

.profileWrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    flex-grow: 3;
    /*width: 300px;*/
    border: 5px solid grey;
    height: 100%;
}

.header {
    flex-grow: 4;
    width: 100%;
    border: 5px solid green;
}

.aside-1 {
    flex-grow:0;
    display: flex;
    flex-direction: column;
    border: 5px solid pink;
    height: 100vh;
    width: 200px;
    text-align: center;
}

.aside-1 > h4 {
    text-decoration: underline;
    margin-top: 30px;

    margin-bottom: 0
}

.aside-2 {
    flex-grow:0;
    border: 5px solid black;
    height: 100vh;
    width: 200px;
}

.scroll {
    height: 700px;
    overflow: auto;
}









/* After Login / Profile Page */
.profileImg {
    position: absolute;
    top: 20px;
    right: 30px;
    width: auto;
    height: 80px;
    border-radius: 50px;
}

.profileImg:hover {
    height: 100px;
}


.profilePic2 {
    /*position: absolute;*/
    width: 100px;
    height: auto;
    /*left: 20px;*/
    /*top:140px;*/
    border-radius: 50px;
}

.firstLast {
    /*position: absolute;*/
    text-decoration: underline;
    /*top: 90px;*/
    /*left: 20px;*/
}

.linkToAddBio {
    /*position: absolute;*/
    /*top: 280px;*/
    /*left: 20px;*/
}

.noBioAdded {
    /*position: absolute;*/
    /*left: 20px;
    top: 290px;*/
}

.wrapFirstLastLinkAddBio {
    /*width: 500px;*/
    border: 5px solid orange;
    z-index: 3;
}



.wrapLogoH1 {
    border: 1px solid pink;
    /*width: 1000px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    /*position: relative;*/
    /*top: -100px;*/
}

.wrapUploadImage {
    position: absolute;
    width: 500px;
    text-align: center;
    height: 200px;
    background-color: white;
    top: 150px;
    border-radius: 50px;
    border: 1px solid orange;
    left: 60%;
}


.addingBioWrapper {
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: white;
    left: 230px;
    border-radius: 50px;
    border: 1px solid orange;
    top: 200px;
}

.bioOtherUser {
    /*position: absolute;*/
    /*top: 280px;
    left: 625px;*/
}


/* Other profile page */

.otherProfilePic2 {
    /*position: absolute;*/
    /*width: auto;
    height: 200px;
    left: 300px;
    top: 250px;*/

}

/* Friends List */

.imgFriendsList {
    width: 100px;
    height: 100px;
}

/* Online Users */

.onlineImg {
    width: 100px;
    height: auto;
}

/* Diplaying News */

.newsWrapper {
    /*width: 100%;*/
    /*text-align: center;*/
}

.displayNews >img {
    width: 200px;
}
