/* Main Layout */

.sidebars {
    background-color: orange;
}

.welcomeBackground {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.clickForRegister {
    position: absolute;
    width: 270px;
    height: 260px;
    border-radius: 150px;
    background-color: transparent;
    z-index: 3;
    left: 580px;
    top: 280px;
}


body {
    display: grid;
    grid-template-columns: 200px 71% 200px;
    grid-template-rows: 100px 32% 20px;
    border: 1px solid blue;
    width: 100%;
    height: 300vh;
    overflow: hidden;
}

header {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

footer {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid yellow;
}


/* Registration Page */

.register {
    width: 350px;
    text-align: center;
    height: 300px;
    border: 1px dotted #e04903;
    position: absolute;
    /*left: 3%;*/
    top: 170px;
    background-color: white;
    z-index: 3;
    animation: right 3s forwards;
    border-radius: 50px;
}

@keyframes right {
  from {
    right: -400px;
  }
  to {
    right: 100px;
  }
}

.input {
    width: 150px;
    height: 30px;
    top: 20px;
    position: relative;
    border-color: #e04903;
}


.goToLogin {
    position: relative;
    top: 100px;
}

button {
    position: relative;
    top: 30px;
}

button :hover {
    background-color: #e04903;
    /*animation: opacity 2s ease-in;*/
}

/* After Registration / Profile Page */

.logoImg {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 1%;
    border-radius: 100px;
    top: 0px;
}



/* After Login / Profile Page */
.profileImg {
    position: absolute;
    top: 20px;
    left: 1280px;
    width: auto;
    height: 80px;
    border-radius: 50px;
}

.profileImg:hover {
    height: 100px;
}


.profilePic2 {
    position: absolute;
    width: 100px;
    height: auto;
    left: 20px;
    top:140px;
    border-radius: 50px;
}

.firstLast {
    position: absolute;
    text-decoration: underline;
    top: 90px;
    left: 20px;
}

.linkToAddBio {
    position: absolute;
    top: 280px;
    left: 20px;
}

.noBioAdded {
    position: absolute;
    left: 20px;
    top: 290px;
}

.wrapFirstLastLinkAddBio {
    width: 1000px;
}

@media only screen and (max-width: 800px) {
    .profileImg {
        /*position: relative;*/
        left: 200px;
    }
}

.wrapLogoH1 {
    border: 1px solid pink;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: -100px;
}

.wrapUploadImage {
    position: relative;
    width: 500px;
    text-align: center;
    height: 200px;
    background-color: white;
    top: -100px;
    border-radius: 50px;
    border: 1px solid orange;
    left: 35%;
}


.addingBioWrapper {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: white;
    left: 230px;
    border-radius: 50px;
    border: 1px solid orange;
}

.bioOtherUser {
    position: absolute;
    top: 280px;
    left: 625px;
}


/* Other profile page */

.otherProfilePic2 {
    position: absolute;
    width: auto;
    height: 200px;
    left: 300px;
    top: 250px;

}

/* Friends List */

.imgFriendsList {
    width: 100px;
    height: 100px;
}

/* Online Users */

.onlineImg {
    width: 100px;
    height: auto;
}
